p.THIS {
    font-family: 'Futura-Std-Heavy',"Helvetica Neue",Helvetica,Arial,sans-serif;    
    color: #474C55;   /* primary dark gray */
    font-size: 14px;
    font-weight: bold;
	margin: 7px;    
}